<!DOCTYPE html>
<html>

<head>
    <title>Room KIDS</title>
    <link rel="stylesheet" href="../static/css/pedro.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src='../static/js/slider.js'></script>
  
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>

<main class="container-fluid p-0 bg-white overflow-x-hidden">

    <div class="d-flex col-12 align-items-start flex-column">

        <!-- <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio='none' class='w-100' style="max-height:2rem;"
            viewBox="0 0 1440 320">
            <path fill="rgb(56,147,0)" fill-opacity="0.5"
                d="M0,224L80,234.7C160,245,320,267,480,250.7C640,235,800,181,960,170.7C1120,160,1280,192,1360,208L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
            </path>
            <path fill="rgb(56,147,0)" fill-opacity="1"
                d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>

        </svg> -->
        <div class="d-flex fundoKids w-100 px-sm-5 p-3 container-box-salas flex-column gap-2">
            <h1 class=" bahiana text-white mb-0"> Área do Responsável</h1>
            <div class="d-flex align-items-center justify-content-start gap-1">
                <span class="h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-left"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg>
                </span>
                <a class="text-decoration-none text-white bahiana h4 mb-0" href="/inicialkids">Retornar</a>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class='w-100' preserveAspectRatio="none"
            style="max-height: 2rem;">
            <path fill="rgb(56,147,0)" fill-opacity="1"
                d="M0,160L48,170.7C96,181,192,203,288,202.7C384,203,480,181,576,160C672,139,768,117,864,117.3C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
            </path>
            <path fill="rgb(56,147,0)" fill-opacity="0.5"
                d="M0,160L48,133.3C96,107,192,53,288,74.7C384,96,480,192,576,240C672,288,768,288,864,277.3C960,267,1056,245,1152,208C1248,171,1344,117,1392,90.7L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
            </path>
            <path fill="rgb(56,147,0)" fill-opacity="0.5"
                d="M0,320L48,314.7C96,309,192,299,288,245.3C384,192,480,96,576,64C672,32,768,64,864,85.3C960,107,1056,117,1152,138.7C1248,160,1344,192,1392,208L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
            </path>
        </svg>
    </div>

    <div class="container-box-salas px-1 px-sm-5 d-flex align-items-center justify-content-start flex-column">
        <div class="d-flex col-12 align-items-start gap-0 gap-sm-3 flex-sm-row flex-column mb-3 mb-sm-5 ">

            <div class="d-flex align-items-center animate--slower sliders slider-top-id">

                <div class="bg-transparent position-relative z-3 d-flex justify-content-start align-items-start w-auto overflow-hidden"
                    style=" aspect-ratio: 1;">
                    <div class=" rounded-circle overflow-hidden div_perfil position-relative" style="aspect-ratio: 1;">
                        <img src="../static/imagens/desenho_adulto.png" height=90 width=90>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="h5 fw-bolder text-black dosis mb-0 d-flex gap-0 gap-sm-1 align-items-center">
                        <p class="mb-0 h2">
                            Bem vindo,
                            <span class='h4 mb-0 fw-bold'> {{usuario.nome}} </span>
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 sliders slider-top-id ">
            <nav class='responsavel__navigation'>
                <ul class='responsavel__navigation__ul'>
                    <li>
                        <input class="radio__navigation" type="radio" id="c1" name="c1">
                        <label class="label__navigation" for='c1'>
                            Dependentes
                        </label>
                        <input class="radio__navigation" type="radio" id="c2" name="c2">
                        <label class="label__navigation" for='c2'>
                            <a href='#'> Atividade </a>
                        </label>
                        <input class="radio__navigation" type="radio" id="c3" name="c3">
                        <label class="label__navigation" for='c3'>
                            <a href='#'> Assinatura </a>
                        </label>

                    </li>

                </ul>
            </nav>
            <hr>
        </div>


        <div class="col-12 col-sm-12 d-flex align-items-center justify-content-start flex-column">
            <div
                class="container-box-salas d-flex align-items-center justify-content-between mt-2 mt-sm-3 mb-sm-3 position-relative">
                <div class="w-auto fundoKids text-center px-3 px-sm-5 animate--slower sliders slider-left-id"
                    style="border-radius: 50% 10% 30% 20%/ 50% 80% 20%;">
                    <h3 class="fw-medium text-white bahiana mb-0">Dependentes</h3>
                </div>
                <!-- <div class="w-auto text-end text-black sliders slider-top-id animate--slower position-absolute top-0 end-0 z-index-1 me-5"
                    style="border-radius: 50% 10% 30% 20%/ 50% 80% 20%;">
                    <a class="bahiana h3 fw-medium mb-0" href="/dependentes">Gerenciar</a>
                </div> -->
            </div>
        </div>

        <div class="d-flex gap-3 align-content-center justify-content-center mb-5">
            {% if dependentes %}
            {% if dependentes|length == 0 %}
            <h3 class="text-black lilita mb-3" style="width: fit-content;"> Oops... Parece que você não tem nenhum
                dependente cadastrado</h3>
            {% endif %}

            {% for d in dependentes %}
            <div class="cards__dependentes text-center mt-3">
                <div class="card-body">
                    <img src="/static/imagens/usuarios/avatar{{d.id|id_img}}.jpg" class="rounded-circle mb-3"
                        style="width:150px; height: 150px; object-fit: cover;" alt="Ícone do dependente {{d.nome}}">
                    <div class="mb-3">
                        <h5 class="card-title text-black fw-bolder dosis">{{d.nome}}</h5>
                        <p class="card-text text-black h6 dosis">@{{d.nomeUsuario}}</p>
                    </div>
                    <div class="card-footeralign-items-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_{{d.id}}" class="btn bebas me-2"
                            style="background-color: green; color: azure;" data-bs-placement="bottom"
                            title="Ver mais"><svg xmlns="
                            http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor"
                                class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                            </svg>
                        </a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#excluir{{d.id}}" title="Excluir"
                            class="btn btn bebas" style="background-color: red; color: azure;"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal_{{d.id}}" tabindex="-1" aria-labelledby="modal_ver_mais"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content bg-white">
                        <div class="modal-header">
                            <h1 class="fw-bold bahiana" style="color:green">Informações</h2>
                                <button type="button" class="btn-close btn-close" data-bs-dismiss="modal"
                                    aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4 p-2 text-center">
                                    <img id="imagemPerfil" src="/static/imagens/usuarios/avatar{{d.id|id_img}}.jpg"
                                        class="rounded-circle mt-3 mb-3"
                                        style="width:200px; height: 200px; object-fit: cover;"
                                        alt="Ícone do dependente">

                                    <h4 class="text-black mb-3 lilita">{{d.nome}}</h4>
                                    <div class="text-center">
                                        <textarea class="form-control bg-white text-secondary bebas" id="descricao"
                                            disabled
                                            style="width: 350px; margin: 0 auto;"> Perfil Dedicado ao filho mais novo.</textarea>
                                    </div>

                                    <div class="mt-4">
                                        <button type="button" class="btn bebas"
                                            style="background-color: gray; color: azure; width:300px; height:50px"
                                            id="btnEditar" onclick="editarModal()">
                                            <svg xmlns=" http://www.w3.org/2000/svg" width="25" height="25"
                                                fill="currentColor" class="bi bi-pencil-square me-1 "
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg> Editar
                                        </button>
                                        <!--<button id="botao" class="btn btn-primary" onclick="alterarBotao()">Editar</button>-->
                                    </div>
                                    <div class="mt-3">
                                        <button type="button" class="btn btn-secondary bebas"
                                            style="width:300px; height:50px; background-color:gray"
                                            data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                                <div class="col-md-8 p-2">
                                    <div class="container">
                                        <form>
                                            <div class="row mb-3">
                                                <div class="col text-start">
                                                    <label for="usuario" class="form-label text-black lilita">Nome de
                                                        Usuário</label>
                                                    <div class="input-group">
                                                        <span
                                                            class="input-group-text bg-tertiary text-secondary border-0"
                                                            id="icon_usuario">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="green" class="bi bi-at"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z" />
                                                            </svg>
                                                        </span>
                                                        <input type="text"
                                                            class="form-control bg-tertiary text-secondary border-0"
                                                            id="nomeUsuario" name="nomeUsuario"
                                                            value="@{{d.nomeUsuario}}" aria-label="@Dependente_user"
                                                            disabled readonly>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="mb-3 text-start">
                                                <label for="nomeCompleto" class="form-label text-black lilita">Nome
                                                    Completo</label>
                                                <div class="input-group">
                                                    <span class="input-group-text bg-tertiary text-secondary border-0"
                                                        id="icon_nome_completo">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="green" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                            <path
                                                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                                        </svg>
                                                    </span>
                                                    <input type="text"
                                                        class="form-control bg-tertiarytext-secondary border-0"
                                                        value="{{d.nome}}" aria-label="Dependente da Silva" disabled
                                                        readonly id="nome" name="nome">
                                                </div>
                                            </div>
                                            <div class="mb-3 text-start">
                                                <label for="email" class="form-label text-black lilita">Email do
                                                    Dependente</label>
                                                <div class="input-group">
                                                    <span class="input-group-text bg-tertiary text-secondary border-0"
                                                        id="icon_email">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="green" class="bi bi-envelope-at-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                                                            <path
                                                                d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                                                        </svg>
                                                    </span>
                                                    <input type="email"
                                                        class="form-control bg-tertiary text-secondary border-0"
                                                        value="{{d.email}}" aria-label="emaildodependente@email.com"
                                                        disabled readonly id="email" name="email">
                                                </div>
                                            </div>
                                            <div class="row mb-3 text-start">
                                                <div class="col">
                                                    <label for="data_nasc" class="form-label text-black lilita">Data de
                                                        Nascimento</label>
                                                    <div class="input-group">
                                                        <span
                                                            class="input-group-text bg-tertiary text-secondary border-0"
                                                            id="icon_data_nasc">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="green"
                                                                class="bi bi-calendar-week-fill" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9.5 7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm3 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
                                                            </svg>
                                                        </span>
                                                        <input type="date"
                                                            class="form-control bg-tertiary text-secondary border-0"
                                                            id="dataNascimento" name="dataNascimento"
                                                            value="{{d.dataNascimento}}" aria-label="" disabled
                                                            readonly>
                                                    </div>
                                                </div>
                                                <div class="col mb-3 text-start">
                                                    <label for="senha" class="form-label text-black lilita">Senha do
                                                        Responsável</label>
                                                    <div class="input-group">
                                                        <span
                                                            class="input-group-text bg-tertiarytext-secondary border-0"
                                                            id="icon_senha">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="green" class="bi bi-person-fill-lock"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
                                                            </svg>
                                                        </span>
                                                        <input type="password"
                                                            class="form-control bg-tertiary text-secondary border-0"
                                                            id="senha" name="senha" value="123456" aria-label="Senha"
                                                            disabled readonly>
                                                        <button class="btn bg-white bebas" type="button"
                                                            id="toggleSenha"><svg xmlns="http://www.w3.org/2000/svg"
                                                                width="16" height="16" fill="green"
                                                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                                <path
                                                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                                            </svg></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="container col-md-5">
                                                <label for="checkbox_categorias_block"
                                                    class="form-label text-black w-100 text-start mb-3 lilita">Categorias
                                                    bloqueadas</label>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-check text-start">
                                                            <input class="form-check-input" type="checkbox" value="arte"
                                                                id="arte" disabled style="font-size:16px;">
                                                            <label class="form-check-label text-black bebas" for="arte"
                                                                style="font-size:16px;">
                                                                Arte
                                                            </label>
                                                        </div>
                                                        <div class="form-check text-start">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="leitura" id="leitura" disabled
                                                                style="font-size:16px;">
                                                            <label class="form-check-label text-black bebas" for="arte"
                                                                style="font-size:16px;">
                                                                Leitura
                                                            </label>
                                                        </div>
                                                        <div class="form-check text-start">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="conversa" id="conversa" disabled
                                                                style="font-size:16px;">
                                                            <label class="form-check-label text-black bebas"
                                                                for="conversa" style="font-size:16px;">
                                                                Conversa
                                                            </label>
                                                        </div>
                                                        <div class="form-check text-start">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="musica" id="musica" disabled
                                                                style="font-size:16px;">
                                                            <label class="form-check-label text-black bebas"
                                                                for="musica" style="font-size:16px;">
                                                                Música
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="form-check text-start">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="jogos" id="jogos" checked disabled
                                                                style="font-size:16px;">
                                                            <label class="form-check-label text-black bebas" for="jogos"
                                                                style="font-size:16px;">
                                                                Jogos
                                                            </label>
                                                        </div>
                                                        <div class="form-check text-start">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="escola" id="escola" disabled
                                                                style="font-size:16px;">
                                                            <label class="form-check-label text-black bebas"
                                                                for="escola" style="font-size:16px;">
                                                                Escola
                                                            </label>
                                                        </div>
                                                        <div class="form-check text-start">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="danca" id="danca" disabled readonly
                                                                style="font-size:16px;">
                                                            <label class="form-check-label text-black bebas" for="danca"
                                                                style="font-size:16px;">
                                                                Dança
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="carrossel_criadores_bloqueados"
                                                    class="form-label text-black lilita">Criadores
                                                    bloqueados</label>
                                                <!-- Carrossel de criadores bloqueados-->
                                                <div id="carousel_criadores_bloqueados" class="carousel slide">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <div class="d-flex justify-content-center">
                                                                <div class="text-center">
                                                                    <img src="/static/imagens/guaxinim_icon.jpg"
                                                                        class="rounded-circle me-2"
                                                                        style="width:100px; height:100px"
                                                                        alt="ícone guaxinim" id="icone_guaxinim">
                                                                    <h6 class="text text-black me-2 mt-1 bebas">
                                                                        Guaxinim</h6>
                                                                </div>
                                                                <div class="text-center">
                                                                    <img src="/static/imagens/luba_icon.jpg"
                                                                        class="rounded-circle me-2"
                                                                        style="width:100px; height:100px"
                                                                        alt="ícone luba" id="icone_luba">
                                                                    <h6 class="text text-black me-2 mt-1 bebas">
                                                                        Luba</h6>
                                                                </div>
                                                                <div class="text-center">
                                                                    <img src="/static/imagens/luba_icon.jpg"
                                                                        class="rounded-circle me-2"
                                                                        style="width:100px; height:100px"
                                                                        alt="ícone luba" id="icone_luba">
                                                                    <h6 class="text text-black me-2 mt-1 bebas">
                                                                        Luba</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <div class="d-flex justify-content-center">
                                                                <div class="text-center">
                                                                    <img src="/static/imagens/cellbit_icon.jpg"
                                                                        class="rounded-circle me-2"
                                                                        style="width:100px; height:100px"
                                                                        alt="ícone cellbit" id="icone_cellbit">
                                                                    <h6 class="text text-black me-2 mt-1">
                                                                        Cellbit</h6>
                                                                </div>
                                                                <div class="text-center">
                                                                    <img src="/static/imagens/rakin_icon.jpg"
                                                                        class="rounded-circle"
                                                                        style="width:100px; height:100px"
                                                                        alt="ícone rakin" id="icone_rakin">
                                                                    <h6 class="text text-black me-2 mt-1">
                                                                        Rakin</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="carousel-control-prev" type="button"
                                                        data-bs-target="#carousel_criadores_bloqueados"
                                                        data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button"
                                                        data-bs-target="#carousel_criadores_bloqueados"
                                                        data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--Modal excluir-->
            <div class="modal fade" id="excluir{{d.id}}" tabindex="-1" aria-labelledby="excluir" aria-hidden="true"
                idDependente='{{d.id}}'>
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-white">
                        <!--Botão feio-->
                        <div class="modal-header">
                            <h2 class="text-black bahiana">Excluir dependente</h4>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            <h4 class="text-black fw-light dosis">Você tem certeza que deseja <span
                                    class="text-danger">excluir </span> <span class="text-info">{{d.nome}}</span> dos
                                seus dependentes?</h4>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-secondary bebas"
                                data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn bebas"
                                style="background-color: red; color: azure;">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% if dependentes|length < 3 %} <div
                class="cardnormal card text-center mt-1 d-flex align-items-center justify-content-center border-0"
                style="width: 18rem; background-color: transparent">
                <a class="d-flex align-items-center justify-content-center bg-white border border-3 rounded-circle"
                    style="aspect-ratio: 1 !important; height: 50%;" href="/cadastro">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16" color='green'>
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                </a>
                {% endif %}
                {% endif %}
        </div>
    </div>


</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.bundle.js"></script>
<script defer src="../static/js/funcoes.js"></script>

</html>