{% extends "baseRoomOn.html" %}
{% block content %}

<!--Guia -->
        <div class="m-3">
                <h2 class="text-white">Suporte</h2>
                <ul class="nav nav-underline mt-3">
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="/perguntasfrequentessuporte">
                            <h5>Ajuda&Suporte</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="/sobrenossuporte">
                            <h5>Sobre nós</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/denunciassuporte">
                            <h5>Denúncias</h5>
                        </a>
                    </li>
                </ul>
        </div>
               
                    
                        <div class="col-11 mx-auto mt-4">
                            <div class="row">
                                <h1 class="text-start text-light mb-3">Quem somos nós?</h1>
                                <div class="col-3 mt-5">
                                    <img src="/static/imagens/roomonlogo2.png" class="float-end" alt="Logo do Room On" style="width:250px"> 
                                </div>
                                <div class="col-8">

                                <h5 class="fw-light text-justify"> No Room <span class="marcaTextoVerde">On</span>, somos mais do que apenas uma plataforma; somos uma comunidade apaixonada e diversificada de entusiastas de salas de chat e vídeos ao vivo. Fundada em <span class="marcaTextoVerde">2023</span>, nossa jornada começou com uma visão simples: criar um espaço digital onde as pessoas possam se conectar, compartilhar e se expressar de maneira autêntica.
                                Nossa missão é proporcionar a todos a oportunidade de se conectar com pessoas, explorar interesses comuns e se envolver em conversas significativas. Acreditamos que a tecnologia pode unir pessoas de maneira única, e é isso que buscamos alcançar a cada dia.</h5>

                                <h5 class="fw-light text-justify">  O Room On é um local onde a criatividade floresce, onde as amizades se formam e onde as paixões são compartilhadas. Com nossas <span class="marcaTextoVerde">salas de chat </span> temáticas e transmissões ao vivo, oferecemos um ambiente dinâmico para você se conectar com outras pessoas que compartilham seus interesses e curiosidades.

                                    Além disso, temos o <span class="marcaTextoAmarelo"> Room Kids </span> o <span class="marcaTextoRoxo"> Room Plus </span>, nossos planos especiais que oferecem experiências exclusivas para os membros mais jovens e para aqueles que desejam ainda mais recursos e benefícios. Acreditamos que a diversidade é uma força e, portanto, estamos comprometidos em criar um espaço seguro e inclusivo para todos, independentemente de idade ou plano. </h5>

                                <h5 class="fw-light text-justify"> Em resumo, no Room <span class="marcaTextoVerde">On</span>, somos uma equipe dedicada à criação de uma comunidade onde você pode ser você mesmo, se conectar com pessoas incríveis e explorar o mundo excitante das salas de chat e transmissões ao vivo. Estamos empolgados em tê-lo conosco em nossa jornada de descoberta e conexão.

                                    <strong>Junte-se a nós no Room On e seja parte desta emocionante aventura digital!</strong>
                                </h5>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-11 mx-auto mt-5">
                            <div class="row">
                                <h1 class="text-start text-light mb-3">Nossos criadores</h1>
                                <div class="col-3 mt-4">
                                    <img src="/static/imagens/on_software_sem_fundo.png" class="float-end" alt="Logo do Room On" style="width:250px"> 
                                </div>
                                <div class="col-8 ">
                                <h5 class="fw-light text-justify">A <span class="marcaTextoVerde">On</span> Software é uma empresa líder na indústria de desenvolvimento de software, com um foco especial em soluções voltadas para redes sociais. Com uma trajetória de sucesso e uma equipe dedicada de profissionais altamente capacitados, estamos empenhados em oferecer as melhores soluções tecnológicas para indivíduos e empresas que buscam aprimorar sua presença e desempenho nas redes sociais.</h5>
                                <h5 class="fw-light text-justify">Na <span class="marcaTextoVerde">On</span> Software, somos impulsionados pela paixão por inovação e excelência. Nosso compromisso é moldar o futuro das redes sociais por meio da tecnologia inteligente, permitindo que nossos clientes se destaquem em um ambiente online cada vez mais competitivo. <strong> Junte-se a nós enquanto exploramos novas possibilidades e trabalhamos juntos para alcançar o sucesso nas redes sociais. </strong></h5>
                                </div>
                            </div>
                        </div>
                    
                    
                            
                
                         
            </div>
            
   
{%endblock%}