{% extends "kids/basebolinhas.html" %}
{% block content %}

<main
    class="h-100 d-flex align-self-center justify-content-center z-3 p-3 col-11 col-sm-10 col-md-9 col-lg-8 col-xl-6 col-xxl-5 maxw800">

    <div
        class="slide-in-left rounded-4 bg-white d-flex justify-content-center col-12 align-items-center align-self-center flex-column py-4 px-0">
        <img class="crianca__pc__img mb-4 ms-sm-2" src="../static/imagens/criançanNoPC.png" alt="Criança no computador">
        <p class="text-center lilita h3 mb-5 mb-sm-3" style="width: 100%;"> Peça ajuda a seus pais ou responsáveis </p>

        <div class="text-center col-12">
            <button class="bebas py-2 col-5 col-sm-5 col-md-4 rounded-5 col-4 h3 text-white align-middle kidshover"
        style='background-color:#44b300; outline: none; border: none' id="btnRetorno"
                onclick="window.location.href = '/'">Tudo Bem</button>
        </div>

    </div>
</main>

{% endblock %}