{% extends "kids/basebolinhas.html" %}
{% block content %}

<main
  class=" h-100 d-flex align-self-center justify-content-center z-3 p-3 col-11 col-sm-10 col-md-9 col-lg-8 col-xl-6 col-xxl-5 maxw800">

  <div
    class="slide-in-left rounded-4 bg-white d-flex justify-content-center align-items-center align-self-center flex-column py-5 px-0">
    <p class="bahiana text-center display-4">Bem-Vindo ao Room Kids</p>
    <img class="col-11 col-sm-10 col-md-10 col-lg-8 col-xl-6 mb-5 mb-sm-3" src="../static/imagens/criançanNoPC.png"
      alt="Criança no computador">

    <div class="col-12 text-center">
      <button class="bebas py-2 col-5 col-sm-5 col-md-4 rounded-5 col-4 h3 text-white align-middle kidshover"
        style='background-color:#4dc404; outline: none; border: none' id="btnCrianca"
        onclick="window.location.href = '/aviso'">Sou criança</button>

      <button class="bebas py-2 col-5 col-sm-5 col-md-4 rounded-5 col-4 h3 text-white align-middle kidshover"
        style='background-color:#4dc404; outline: none; border: none' id="btnResponsavel"
        onclick="window.location.href = '/souadulto'">Sou Adulto</button>
    </div>

    <!-- <div class='d-flex flex-column align-items-center justify-content-center col-12'>
      <p class="text-center mb-0 h6 lilita rounded-circle w-auto bg-white z-1 p-1">ou</p>

    </div>

    <div class="divButtonEscolha text-center z-3 text-white col-12">
      <button class="bebas py-2 px-3 rounded-5 h5 col-5 col-sm-4 com-md-4 col-lg-3 com-xl-2 kidshover"
        style='background-color:#1966d8; outline: none; border: none' id="btnlogin"
        onclick="window.location.href='/loginkids'">Faça login</button>
    </div> -->

</main>

{% endblock %}