{% extends "kids/basebolinhas.html" %}
{% block content %}

<main
    class=" h-100 d-flex align-self-center justify-content-center z-3 p-3 col-11 col-sm-10 col-md-9 col-lg-8 col-xl-6 col-xxl-5 maxw800">

    <div
        class="slide-in-left rounded-4 bg-white d-flex col-12 justify-content-center align-items-center align-self-center flex-column py-5 px-0">
        <p class="bahiana text-center display-4 px-2">Configure um Perfil de Responsável</p>
        <img class="crianca__pc__img mb-5 mb-sm-3" src="../static/imagens/criançanNoPC.webp"
            alt="Criança no computador">

        <div class="col-12 text-center">
            <button class="bebas bg-white py-2 col-5 col-sm-5 col-md-4 rounded-5 col-4 h3 align-middle kidshover"
                style='color:#44b300 !important; border: 1px solid #44b300;' id="btnResponsavel"
                onclick="window.location.href = '/cadastroresponsavel'">Cadastrar-se</button>

            <button class="bebas py-2 col-5 col-sm-5 col-md-4 rounded-5 col-4 h3 text-white align-middle kidshover"
                style='background-color:#44b300; outline: none; border: none' id="btnCrianca"
                onclick="window.location.href = '/loginkids'">Fazer login</button>

        </div>

        <!-- <div class='d-flex flex-column align-items-center justify-content-center col-12'>
               <p class="text-center mb-0 h6 lilita rounded-circle w-auto bg-white z-1 p-1">ou</p>
              
             </div>
             
          <div class="divButtonEscolha text-center z-3 text-white col-12" >
              <button class="bebas py-2 px-3 rounded-5 h5 col-5 col-sm-4 com-md-4 col-lg-3 com-xl-2 kidshover" style='background-color:#1966d8; outline: none; border: none' id="btnlogin" onclick="window.location.href='/loginkids'">Faça login</button>
          </div> -->


</main>
<script defer src='../static/js/slider_section.js'></script>
{% endblock %}