{% extends "kids/baseresponsavel.html" %}
{% block content %}


<div class="m-3">
          <h1 class="bahiana text-black">Suporte</h2>
            <ul class="nav nav-underline mt-3">
                <li class="nav-item">
                    <a class="nav-link  text-black lilita" aria-current="page" href="/faq">
                        <h5>Ajuda&FAQ</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black lilita active" href="/sobrenos">
                        <h5>Sobre nós</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black lilita " href="/denuncias">
                        <h5>Denúncias</h5>
                    </a>
                </li>
            </ul>
    </div>
                 
<div class="col-11 mx-auto mt-4">
    <div class="row">
        <h1 class="text-center text-black mb-3 bahiana">Quem somos nós?</h1>
        <div class="col-3 mt-5">
            <img src="/static/imagens/sobrenos_roomkids.png" class="float-end" alt="Logo do Room On" style="max-width:100%"> 
        </div>
        <div class="col-8">

        <h5 class="fw-light text-justify dosis fw-bold"> 
        O Room Kids é um inovador site projetado especialmente para proporcionar um ambiente seguro e envolvente de interação para crianças até 13 anos. Com uma abordagem cuidadosamente planejada, o site busca criar uma experiência online que seja tanto educativa quanto divertida, mantendo a segurança como prioridade máxima.</h5>

        <h5 class="fw-light text-justify dosis fw-bold">  Uma das características distintivas do Room Kids é sua estrutura de rede social baseada em salas de texto, onde as crianças podem se conectar com amigos e colegas em um espaço virtual controlado. Isso permite que elas compartilhem interesses, conversem e participem de atividades de maneira monitorada, proporcionando uma experiência interativa semelhante a uma sala de estar virtual. </h5>

        <h5 class="fw-light text-justify dosis fw-bold"> O Room Kids vai além, oferecendo um plano premium que aprimora ainda mais a experiência dos usuários. Com recursos exclusivos e conteúdo premium, o plano premium proporciona benefícios adicionais para os pais e responsáveis, como controle avançado de privacidade, filtros de conteúdo e funcionalidades especiais que contribuem para um ambiente ainda mais seguro e enriquecedor.</h5>

        <h5 class="fw-light text-justify dosis fw-bold">Em resumo, o Room Kids é muito mais do que uma simples plataforma online; é um espaço virtual desenvolvido sob medida para crianças até 13 anos, combinando diversão, interação social e aprendizado, sempre com a segurança como uma prioridade central. O plano premium eleva ainda mais a experiência, proporcionando aos usuários acesso a recursos exclusivos que contribuem para um ambiente online confiável e protegido. </h5>
        </div>
    </div>
</div>

<div class="col-11 mx-auto mt-5 mb-5">
    <div class="row">
        <h1 class="text-start text-black mb-3 bahiana">Nossos criadores</h1>
        <div class="col-3 mt-4">
            <img src="/static/imagens/sobrenos_onsoftware.png.png
              " class="float-end" alt="Logo do Room On" style="max-width:100%"> 
        </div>
        <div class="col-8 ">
        <h5 class="fw-light text-justify dosis fw-bold">A <span class="marcaTextoVerde">On</span> Software é uma empresa líder na indústria de desenvolvimento de software, com um foco especial em soluções voltadas para redes sociais. Com uma trajetória de sucesso e uma equipe dedicada de profissionais altamente capacitados, estamos empenhados em oferecer as melhores soluções tecnológicas para indivíduos e empresas que buscam aprimorar sua presença e desempenho nas redes sociais.</h5>
        <h5 class="fw-light text-justify dosis fw-bold">Na <span class="marcaTextoVerde">On</span> Software, somos impulsionados pela paixão por inovação e excelência. Nosso compromisso é moldar o futuro das redes sociais por meio da tecnologia inteligente, permitindo que nossos clientes se destaquem em um ambiente online cada vez mais competitivo. <strong> Junte-se a nós enquanto exploramos novas possibilidades e trabalhamos juntos para alcançar o sucesso nas redes sociais. </strong></h5>
        </div>
    </div>
</div>


   
{%endblock%}