.labelCadastro,
.divButton,
.tituloCadastro,
.imagem,
.divCategorias,
.divCategoria,
.overlap-1 {
    background-color: transparent;
}

input,
.divCategoria,
.divCategorias {
    border-radius: 2.4rem;
}

.divCadastro,
.divDenuncias {
    width: 47rem;
    height: 53rem;
}

.divPCategorias {
    width: 65rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-kids-cadastro,
.divEscolha {
    width: 75rem;
    height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-kids-login {
    width: 50rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divCadastro,
.divDenuncias,
.divPCategorias,
.divEscolha,
.div-kids-cadastro,
.div-kids-login {
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0.5rem 0.2rem 1rem rgb(0, 0, 0, 0.3);
    border: 0.2rem solid rgb(0, 0, 0, 0.3);
}

.tabelaCadastroKIDS {
    width: 100%;
    position: inherit;
    height: 24rem;
}

.tabelaPaisFilhos {
    width: 100%;
}

.subtitulo,
.labelCadastro {
    color: black;
    font-family: 'Lilita', sans-serif;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);

}

.subtitulo {
    display: block;
    font-size: 2.5rem;
    text-align: center;
}

.divCadastro,
.divPCategorias,
.divEscolha,
.div-kids-cadastro,
.div-kids-login {
    color: black;
    background-color: white;
}

.divDenuncias {
    text-align: center;
    color: #fff;
    box-shadow: 0.02rem 0.5rem 2rem 0.5rem #026d22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabelaDenuncia,
.tabelaDenuncia td {
    width: 100%;
}

.divDenuncia textarea {
    border: 0.2rem solid rgb(0, 191, 99);
}


.divCategorias {
    display: fill;
    width: 40rem;
    height: 25rem;
    padding: 3.2rem;
    color: black;
    column-count: 2;
    position: relative;
    margin: 0 auto;
    column-gap: 10rem;
    align-items: center;
    justify-content: center;
}

.divCategoria {
    width: 17.6rem;
    height: 3.2rem;
    text-align: justify;
    position: relative;
}

.labelCategoria {
    font-size: 2.1rem;
    font-family: 'Lilita', sans-serif;
    text-align: justify;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.imagem {
    background-color: black;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.campoTextoInput {
    display: block;
    width: 30rem;
    height: 3.3rem;
    transition: width 0.5rem ease;
    margin: 0 auto;
    border: none;
    cursor: text;
    background-color: rgba(128, 127, 127, 0.4);
    font-family: "Candara";
    text-align: center;
    padding: 0.8rem;
    font-size: 1.6rem;

}

.campoTextoInput:hover {
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.4);
}

.campoTextoInput:focus {
    cursor: text;
}

.tituloCadastro,
.tituloDenuncia {
    font-size: 8rem;
    text-align: center;
    position: relative;
    z-index: 1;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tituloCadastro {
    color: white;
    font-family: "bahiana", sans-serif;
    display: block;
    margin-top: -1rem;
}

.labelCadastro {
    width: 30rem;
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 2rem;
}

.paragrafoKIDS {
    font-size: 7rem;

    font-family: "bahiana", sans-serif;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: rgb(202, 10, 10);
}

.tituloDenuncia {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3.3rem;
}

.labelDenuncia, .label-cadastro-categoria {
    width: 100%;
    display: flex;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    margin-left: 2rem;
}

.labelDenuncia{
    margin-left: 4rem;
}

.divButton,
.divButtonReduzido,
.divButtonEscolha {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
}


.button {
    text-align: center;
    padding: 1.5rem 0rem;
    background-color: #018829;
    border: none;
    width: 16rem;
    height: 6rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.8rem;
    font-family: 'Bebas-Neue', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    transition: 0.3s ease;
    background-color: rgb(0, 191, 99);
    cursor: pointer;
    color: white;
}

.button:not(:hover) {
    transition: 0.3s ease;
}

.input-field {
    margin: 0 auto;
    display: flex;
    width: 40rem;
    height: 3rem;
    text-align: center;
    line-height: 4rem;
    color: #018829;
    transition: 0.5s;
    font-size: 1.2rem;
    border: 0.2rem solid rgb(0, 191, 99);
    border-radius: 1rem;
    background-color: white;
}

.input-field option,
.mb-3 select {
    font-size: 1.6rem;
}

.input-field select {
    border: none;
    width: 98%;
    border-radius: inherit;
}

.input-field select:hover {
    transition: 0.3s ease;
    cursor: pointer;
}

.input-field-textarea textarea:hover {
    cursor: text;
}

.input-field select:focus,
.input-field-textarea textarea:focus {
    border: none;
    outline: none;
}

.input-field-textarea {
    margin: 0 auto;
    display: flex;
    width: 40rem;
    border-radius: 1rem;
    border: 0.2rem solid rgb(0, 191, 99);
    height: 10rem;
    background-color: white;
    color: #018829;
}

.input-field-textarea textarea {
    width: 100%;
    border: none;
    border-radius: inherit;
    outline: none;
    font-size: 1.6rem;
    padding: 0rem 0.2rem;
}

#folder {
    vertical-align: middle;
    text-align: center;
    color: green;
    margin-left: 1rem;
    background-color: none;
    margin-top: 0.3rem;
}

.continuar,
.retornar,
.responsavel,
.criança,
.login {
    height: 5.7rem;
    font-family: "bahiana", sans-serif;
    box-shadow: 0rem 0rem 2rem rgb(0, 0, 0, 0.1);
    font-size: 4.3rem;
    text-align: center;
    line-height: 4.8rem;
    color: white;
    cursor: pointer;
}

.responsavel,
.criança {
    width: 26rem;
    font-size: 5rem;
    height: 6rem;
    background-color: #4dc404;
    border: none;
    border-radius: 3rem;
}

.responsavel:hover,
.criança:hover {
    width: 30rem;
    transition: width 0.3s ease;
    height: 6rem;
    background-image: linear-gradient(to bottom, #4dc404, #4dc404, rgb(255, 255, 255, 0.3));
}

.responsavel:not(:hover),
.criança:not(:hover) {
    transition: width 0.2s ease;
}


.login {
    width: 18rem;
    height: 4.5rem;
    font-size: 3.5rem;
    background-color: #1966d8;
    border: none;
    border-radius: 3rem;
    align-items: center;

}

.login:hover {
    width: 23rem;
    transition: width 0.3s ease;
    background-image: linear-gradient(to bottom, #1966d8, #1966d8, rgb(255, 255, 255, 0.3));
}

.login:not(:hover) {
    transition: width 0.2s ease;
}

.continuar {
    width: 17rem;
    border: none;
    margin-left: 1rem;
    background-color: #1966d8;
}

.continuar:hover {
    width: 21rem;
    transition: width 0.3s ease;
    background-image: linear-gradient(to bottom, #1966d8, #1966d8, rgb(255, 255, 255, 0.3));
}

.retornar {
    width: 12.8rem;
    border: none;
    background-color: red;
}

.retornar:hover {
    width: 16rem;
    transition: width 0.3s ease;
    background-color: red;
    color: white;
}

.retornar:not(:hover) {
    transition: width 0.2s ease;
}

.continuar:not(:hover) {
    transition: width 0.2s ease;
}

.bordaVerde {
    box-shadow: 0.2rem 0.1rem 1rem rgba(2, 131, 2, 0.5);
}

.bordaRedonda {
    border-radius: 0.8rem;
}

.fonteAumentada {
    font-size: 1.6rem;
    width: 20rem;
}


.fonteLarga {
    font-size: 5rem;
    font-family: "Lilita", sans-serif;
}

.margemAbaixo {
    padding-bottom: 1rem;
}

.margemInputKIDS {
    padding-bottom: 1rem;
}

.alinhaCentro {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.alinhaCima {
    vertical-align: top;
}

.alinhaMeio {
    vertical-align: middle;
}

.fonteMaior {
    font-size: 5.5rem
}

.Lilita {
    font-family: "Lilita", sans-serif;
}

.mb-3 {
    padding-bottom: 3rem;
}

.alinhaBot {
    vertical-align: bottom;
}

#itexto {
    vertical-align: middle;
    margin-left: 2rem;
}

.overlap-1 {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin: auto auto auto auto;
}

.overlap-1>*:first-child {
    align-self: start;
}

.overlap-1>.categorias-cadastradas-box {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 4rem;
    border-bottom: 1px solid green;
}

.container-header h1 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
}

.categorias-cadastradas-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.categorias-cadastradas-box h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.categorias-cadastradas-box button {
    align-self: end;
}

.tableCategorias, .tableUserKids {
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
}

.tableCategorias th {
    font-size: 2.3rem;

    padding-bottom: 1rem;
}

.tableUserKids th {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 1rem;
}

.tableUserKids td{
    text-align: center;
    font-size: 1.5rem;
}

.tableCategorias td {
    padding-top: 0.1rem;
    font-size: 1.7rem;
}

.com_borda {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 8rem;
    border: 0.2rem solid rgb(188, 11, 11);
    margin-top: 8rem;
    margin-bottom: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
    position: relative;
    margin-top: 80px;
    /* margin-top: "empurra pra baixo" */
    height: calc(100vh - 80px - 40px);
    /* calc(): função que calcula o resultado de uma equação          */
    /* Os sinais "+" e "-" deve ser escritos com espaço antes e depois */
    overflow-y: scroll;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 10px;
    background-color: #1d1c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    z-index: 2;
}

a .botao_header {
    display: inline-block;
    width: 60px;
    /* Para colocar "LARGURA" precisa definir
                                    o comando CSS "display" como "inline-block" */

    background-color: black;
    color: white;
    text-decoration: none;
    /* retira o sublinhado do link */
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 1.5rem;
    font-family: "bebas_neue_botao";
}


.botao {
    display: inline-block;
    width: 120px;
    /* Para colocar "LARGURA" precisa definir
                                o comando CSS "display" como "inline-block" */

    background-color: #018829;
    color: white;
    text-decoration: none;
    /* retira o sublinhado do link */
    margin: 1.2rem;
    padding: 8px;
    border-radius: 2rem;
    text-align: center;
    font-family: "bebas_neue_botao";
    font-size: 2rem;

}

.botao_maior {
    display: inline-block;
    width: 160px;
    /* Para colocar "LARGURA" precisa definir
                                o comando CSS "display" como "inline-block" */

    background-color: #018829;
    color: white;
    text-decoration: none;
    /* retira o sublinhado do link */
    margin: 1.2rem;
    padding: 8px;
    border-radius: 2rem;
    text-align: center;
    font-family: "bebas_neue_botao";
    font-size: 2rem;
}

.verde {
    color: rgb(50, 124, 50)
}

.header {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
}

.header_direita {
    margin: 5px;
    padding: 5px;
    font-size: 2.5rem;
    text-align: right;
}

.preferencias {
    font-size: 2.5rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.preferencias_titulo {
    font-size: 4rem;
}

p {
    text-indent: 2rem;
    font-size: 2rem;
    margin: 0rem;
    text-align: justify;
    line-height: 4rem;
}

.centro {
    text-align: center;
}

h2 {
    font-family: "h2_jost";
    font-size: 1.6rem;
    padding-left: 1.5rem;
}

.boleto {
    font-size: 2rem;
    padding-right: 1.5rem;
    text-align: center;
}

.espaçado {
    margin-bottom: 3rem;
}

.centralizada {
    width: 250px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.logo {
    width: 250px;
    height: 100px;
    float: left;
    padding: 10px;
}

.header {
    width: 50px;
    height: 80px;
    float: left;
}

.divCapa {
    margin-right: 1.rem;
}


.capa {
    width: 50px;
    height: 50px;
    margin-right: 1.7rem;

}

.capa2 {
    width: 50px;
    height: 50px;
    margin-right: 0rem;
}

.pix {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.icon {
    width: 150px;
    height: 150px;
}


.sombra {
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    color: #fff;
    box-shadow: 0 1rem 1.5rem #003911;

}

.sombra02 {
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    color: #fff;
    box-shadow: 0 1rem 1.5rem purple;
}

.roomplus_tabela {
    background-color: #1d1c1c;
    box-shadow: 0 1rem 1.5rem purple;
    padding: 2rem;
    margin-left: 2rem;
    margin: 4rem;

}

.alinha_topo {
    vertical-align: top;
}

.centralizar {
    text-align: center;
}

.padding_bottom {
    padding-bottom: 2.2rem;
}


.roomplus {
    white-space: nowrap;
    margin-left: 2rem;
}

.boleto_pix {
    white-space: nowrap;
    text-align: center;
}

.cartao {
    padding-right: 5rem;
}

.preferencias {
    width: 100%;
}

.preferencias_permissoes {
    margin-right: 2rem;
}

input.rem_maior {
    width: 45rem;
    border-radius: 1rem;
    height: 4rem;
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 1rem;
    padding-right: 0.5rem;
    border: 2px solid rgb(0, 191, 99);
}

input.rem_menor {
    width: 30rem;
    border-radius: 1rem;
    height: 4rem;
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 1rem;
    padding-right: 0.5rem;
    border: 2px solid purple;
}

input.rem_menor2 {
    width: 30rem;
    border-radius: 1rem;
    height: 4rem;
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 1rem;
    padding-right: 0.5rem;
    border: 2px solid rgb(0, 191, 99);
}

input.rem_cartao {
    width: 30rem;
    height: 2.5rem;
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 1rem;
    padding-right: 0.5rem;
    border: 2px solid rgb(0, 191, 99);
}

input.rem_cartao2 {
    width: 30rem;
    height: 2.5rem;
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding-right: 0.5rem;
    border: 2px solid pur;
}

input.rem_cartao3 {
    width: 15rem;
    height: 2.5rem;
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding-right: 0.5rem;

}


input.data {
    width: 32rem;
    border-radius: 1rem;
    height: 4rem;
    font-family: "resposta_barlow";
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid rgb(0, 191, 99);
    padding-left: 1rem;
    padding-right: 0.5rem;
    outline: none;


}

input.data2 {
    width: 32rem;
    border-radius: 1rem;
    height: 4rem;
    font-family: "resposta_barlow";
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid purple;
    padding-left: 1rem;
    padding-right: 0.5rem;
    outline: none;


}

input.data::-webkit-calendar-picker-indicator {
    color: rgb(50, 124, 50)
}

input.data3 {
    width: 18rem;
    height: 2.5rem;
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding-right: 0.5rem;



}

input.botao {
    width: 15rem;
    background-color: #018829;
    color: white;
    height: 4rem;
    margin-left: 1rem;
    margin-top: 2rem;
    font-family: "bebas_neue_botao";
    font-size: 2rem;
    border-radius: 3rem;
    border: none
}

input.botao2 {
    width: 15rem;
    background-color: purple;
    color: white;
    height: 4rem;
    margin-left: 1rem;
    margin-top: 2rem;
    font-family: "bebas_neue_botao";
    font-size: 2rem;
    border-radius: 3rem;
    border: none
}

input.botao_boleto_pix {
    width: 15rem;
    background-color: #018829;
    color: white;
    height: 4rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "bebas_neue_botao";
    font-size: 2rem;
    border-radius: 1rem;
    border: none;

}

input.categoria {
    width: 62.5rem;
    height: 7rem;
    border: none;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    font-size: 3.2rem;
    padding-left: 1.5rem;
    font-family: "h2_jost";
}

input.password {
    width: 62.5rem;
    height: 7rem;
    border: none;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    font-size: 3.2rem;
    padding-left: 1.5rem;
    font-family: "h2_jost";
}

.quadrado {
    background-color: #A570D4;
    width: 7rem;
    height: 7rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1rem;
}

.linha {
    display: flex;
}


.checkbox {
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid rgb(0, 191, 99);
    font-family: "h2_jost";
    margin-left: 2rem;
    text-align: center;

}

.checkbox01 {
    margin-left: 0.8rem;
}

.checkbox02 {
    margin-left: 2rem;
}

.checkbox03 {
    margin-left: 6rem;
}

.checkbox04 {
    margin-left: 4rem;
}

textarea {
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 1rem;
    border-radius: 1rem;
    border: 2px solid rgb(0, 191, 99);
}

.li_roomplus {
    font-family: "h2_jost";
    font-size: 1.8rem;
    margin-left: 2rem;
}

.capa:hover {
    box-shadow: 1px 1px 1px white;

}

.capa2:hover {
    box-shadow: 1px 1px 1px white;

}

.trSenha {
    position: relative;
    margin-top: 0;
    align-items: top;
}

.select_01 {

    border-radius: 1rem;
    height: 4rem;
    font-family: "resposta_barlow";
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid rgb(0, 191, 99);
    width: 100%;
}

.select_02 {

    border-radius: 1rem;
    height: 4rem;
    font-family: "resposta_barlow";
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid purple;
    width: 100%;
}

.option_select_01 {
    font-size: 2rem;
    margin-left: 2rem;
}

input[type="file"] {
    width: 33rem;
    height: 4rem;
    font-family: "resposta_barlow";
    font-size: 1.5rem;
    border-radius: 1rem;
    outline: none;
}

.hr_cinza {
    border-color: rgb(42, 41, 41);
    margin-top: 2rem;
}


input[type="submit"]:hover {
    transition: width 0.2 ease;
    background-color: rgb(0, 191, 99);
    border-radius: 3rem;
    cursor: pointer;
}

input[type="reset"]:hover {
    transition: width 0.2 ease;
    background-color: rgb(0, 191, 99);
    cursor: pointer;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: green;
    font-size: 1.5rem;
}

.input-icon2 i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: green;
    font-size: 1.5rem;
}

.input-icon input {
    padding-left: 30px;
}


.botao:hover {
    background-color: rgb(0, 191, 99);
    transition: all 300ms;
    cursor: pointer;
}

.botao_maior:hover {
    background-color: rgb(0, 191, 99);
    transition: all 300ms;
    cursor: pointer;
}

.botao_boleto:hover {
    background-color: rgb(0, 191, 99);
    transition: all 300ms;
    cursor: pointer;
}

i#icon {
    border: none;
    background: none;
    size: 2rem;
    color: rgb(0, 191, 99);

}

.roboto{
    font-family: 'Roboto';
}

.mb-1{
    padding-bottom: 1rem;
}

#descricao, #assunto{
    color: #018829;
    text-align: center;
    outline: none;
}

.overlap-1 {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin: auto auto auto auto;
}

.overlap-1>*:first-child {
    align-self: start;
}

.overlap-1>.categorias-cadastradas-box {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 4rem;
    border-bottom: 1px solid green;
}

.container-header h1 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
}

.categorias-cadastradas-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.categorias-cadastradas-box h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.categorias-cadastradas-box button {
    align-self: end;
}

.tableCategorias {
    width: 100%;
    margin-bottom: 4rem;
}

.tableCategorias th {
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 1rem;
}

.tableCategorias td {
    padding-top: 0.1rem;
    font-size: 1.6rem;
    text-align: center;
}

.margem-centralizada {
    margin: auto auto auto auto
}

.fundoCinza {
    background-color: rgb(227, 227, 227);
}

.header-kids {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-top: 2rem;
}

.searchbar-kids {
    width: 40rem;
    height: 3.5rem;
    outline: none;
    border: none;
    box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.9rem;
    font-family: "Bahiana";
}

.container-80w-kids {
    width: 70svw;
    margin: auto;
}

.container-80w-kids h1{
    font-size: 3.2rem;
    font-family: 'Bahiana';
}
.container-categorias-inicial-kids, .container-salas-kids{
    margin-bottom: 4rem;
}
.container-salas-kids {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-sala-kids {
    display: flex;
    flex-direction: column;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
    background-color: white;

}

.container-sala-kids:hover {
    transition: all 0.7ms;
    cursor: pointer;
}


.titulo-sala {
    border-radius: inherit;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Bahiana';
    width: auto;
    height: 6rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-sala-kids,
.container-sala-kids img,
.titulo-sala {
    border-radius: 1.5rem;
}


.container-categorias-inicial-kids {
    margin: auto;
}

      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio='none' class='w-100 position-absolute bottom-0'
        style="height:12rem;" viewBox="0 0 1440 320">
        <path fill="#38B6FF" fill-opacity="1"
          d="M0,224L80,234.7C160,245,320,267,480,250.7C640,235,800,181,960,170.7C1120,160,1280,192,1360,208L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" class='w-100 position-absolute bottom-0' preserveAspectRatio='none' viewBox="0 0 1440 320"
      style="height:10rem;">
      <path fill="#0099ff" fill-opacity="1"
        d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>

      <svg xmlns="http://www.w3.org/2000/svg" class='w-100 position-absolute bottom-0' preserveAspectRatio='none' style="height:8rem;"
        viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1"
          d="M0,128L48,133.3C96,139,192,149,288,149.3C384,149,480,139,576,149.3C672,160,768,192,864,208C960,224,1056,224,1152,224C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
      </svg>